{% extends "base.html" %}

{% block content %}
<div class="container flex-grow-1">

    <a class="btn btn-primary" href="{% url 'core:message_create' %}">Добавить письмо</a>

    <div class="mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Тема письма</th>
                    <th scope="col">Тело письма</th>
                    <th scope="col">Управление</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <th scope="row">{{ message.id }}</th>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.body }}</td>
                    <td class="align-items-center gap-2">
                        <a href="#" class="btn btn-outline-primary d-inline-flex align-items-center gap-2 px-3">
                            <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                <use href="/static/images/pencil-square.svg"/>
                            </svg>
                            Редактировать
                        </a>
                        <a href="#" class="btn btn-outline-danger d-inline-flex align-items-center justify-content-center gap-2 px-3">
                            <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                <use href="/static/images/trash-fill.svg"/>
                            </svg>
                            Удалить
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}