{% extends "base.html" %}

{% block content %}
<div class="container flex-grow-1">

    <h3>Рассылка #{{ mailing.id }} "{{ mailing.message.subject }}"</h3>

    <div class="mt-2">
        <p>Время начала рассылки: {{ mailing.start_time }}</p>
        <p>Время конца рассылки: {{ mailing.end_time }}</p>

        {% if mailing.status == 'created' %}
            <div class="btn btn-sm btn-secondary">Создана</div>
        {% elif mailing.status == 'launched' %}
            <div class="btn btn-sm btn-success">Запущена</div>
        {% else %}
            <div class="btn btn-sm btn-danger">Завершена</div>
        {% endif %}

        <div class="d-flex align-items-center gap-2">
            <p>Связанное сообщение: </p>
            <a href="{% url 'core:message_details' pk=mailing.message.id %}" class="btn btn-sm btn-primary">{{ mailing.message.subject }}</a>
        </div>

        <p>Количество получателей: {{ mailing.recipients.all.count }}</p>

        <div class="btn-group align-items-center gap-2">
            <a href="{% url 'core:mailing_send' pk=mailing.id %}" class="btn btn-primary d-inline-flex align-items-center gap-2 px-3">
                <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <use href="/static/images/send-fill.svg"/>
                </svg>
                Сделать рассылку
            </a>
            <a href="{% url 'core:mailing_edit' pk=mailing.id %}" class="btn btn-outline-primary d-inline-flex align-items-center gap-2 px-3">
                <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <use href="/static/images/pencil-square.svg"/>
                </svg>
                Редактировать
            </a>
            <a href="{% url 'core:mailing_delete' pk=mailing.id %}" class="btn btn-outline-danger d-inline-flex align-items-center justify-content-center gap-2 px-3">
                <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <use href="/static/images/trash-fill.svg"/>
                </svg>
                Удалить
            </a>
        </div>

        <p>Попыток рассылки: {{ mailing.attempts.all.count }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Дата и время</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Ответ почтового сервера</th>
                </tr>
            </thead>
            <tbody>
                {% for attempt in mailing.attempts.all %}
                <tr class="align-middle">
                    <th scope="row">{{ attempt.id }}</th>
                    <td>{{ attempt.attempt_time }}</td>
                    <td>{{ attempt.status }}</td>
                    <td>{{ attempt.server_response }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}