{% extends "base.html" %}

{% block content %}
<div class="container flex-grow-1">

    <a class="btn btn-primary" href="{% url 'core:mailing_create' %}">Добавить рассылку</a>

    <div class="mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Тема рассылки</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата и время начала отправки</th>
                    <th scope="col">Дата и время окончания отправки</th>
                    <th scope="col">Количество получателей</th>
                    <th scope="col">Управление</th>
                </tr>
            </thead>
            <tbody>
                {% for mailing in mailings %}
                <tr>
                    <th scope="row">{{ mailing.id }}</th>
                    <td>{{ mailing.message }}</td>
                    <td>
                        {% if mailing.status == 'created' %}
                            <div class="btn btn-secondary">Создана</div>
                        {% elif mailing.status == 'launched' %}
                            <div class="btn btn-success">Запущена</div>
                        {% else %}
                            <div class="btn btn-danger">Завершена</div>
                        {% endif %}
                    </td>
                    <td>{{ mailing.start_time }}</td>
                    <td>{{ mailing.end_time }}</td>
                    <td>{{ mailing.recipients.all.count }}</td>
                    <td class="align-items-center gap-2">
                        <a href="#" class="btn btn-outline-primary d-inline-flex align-items-center gap-2 px-3">
                            <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                <use href="/static/images/pencil-square.svg"/>
                            </svg>
                            Редактировать
                        </a>
                        <a href="#" class="btn btn-outline-danger d-inline-flex align-items-center justify-content-center gap-2 px-3">
                            <svg width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                <use href="/static/images/trash-fill.svg"/>
                            </svg>
                            Удалить
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}